/* Estilos únicos para exportar a pdf */
@media print
{
    :root {
        font-size: 18pt;
    }
    
    html * {
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body, h2, h3, h4 {
        font-size: 1rem;
    }

    /* Normas APA */
    body {
        line-height: 1.72;
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    h1 {
        font-size: 1rem;
        text-align: center;
    }

    h1, h2, h3, h4 {
        text-transform: capitalize;
        margin: 0 auto;
    }

    p {
        margin: 0 0;
    }

    li {
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        font-weight: bold;
    }

    h4 {
        display: inline;
        text-indent: 1.27cm;
    }

    h5 {
        display: inline;
        font-style: italic;
        text-indent: 1.27cm;
    }

    code {
        font-size: 10pt;
    }

    pre code {
        font-size: 12pt;
    }

    [contador]::before {
        font-size: 1.1rem;
    }

    /* Fin Normas APA */

    /* Componentes */
    #portada {
        height: 11.45in;
        display: flex;
        align-items: stretch;
    }

    @page {
        size: letter portrait;
        margin: 0;
        margin-top: 2.5cm;
        margin-bottom: 2.5cm;
        margin-right: 2.5cm;
        margin-left: 3cm;
    }

    #chrono {
        display: flex;
        justify-content: center;
    }

    #chrono img {
        /* The image has to fit a page */
        height: 33cm;
        object-fit: contain;
    }

    .att-title {
        text-align: center;
    }
}

/* Estilos únicos para ver en navegador web */
@media screen {
    html, body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body {
        /* max-width: 700px; */
        margin: 2.5cm;
        /* padding: 0 .25in; */
        overflow-x: hidden;
    }

    h1 {
        margin-top: 40pt;
    }

    [contador]::before {
        font-size: 1.1em;
    }

    #chrono {
        display: flex;
        justify-content: center;
    }

    #chrono img {
        max-width: 100%;
        max-height: 60vw;
        object-fit: contain;
        transform: rotate(90deg);
    }
}

/* Estilos generales */

/* Normas APA: */

p {
    /* text-indent: 5em; */
}

li>p {
    text-indent: 0;
}

/* Fin Normas APA */

li:not(:first-child)>h1 {
    page-break-before: always;
}

h1:not(:first-child) {
    page-break-before: always;
    /* margin-top: 50pt; */
}

a {
    color: black;
    word-wrap: break-word;
}

[contador]::before {
    content: attr(contador);
}

.table-of-contents>ol {
    counter-reset: item;
}

h2>a, h1>a {
    text-decoration: none;
}

.salto {
    display: block;
    height: 1px;
    page-break-after: always;
}

/* https://stackoverflow.com/a/30326819 */
ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
/* ------------------------------------ */

pre {
    font-family: 'Courier New', Courier, monospace;
    padding: 10pt;
    margin: 0 40pt;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
}

pre.mermaid-diagram {
    padding: 0;
    text-align: center;
    background-color: transparent;
}

.mermaid-diagram svg div {
    padding: 0 !important;
    font-size: 10pt !important;
}

.mermaid-diagram * {
    overflow: visible;
}

.mermaid-diagram svg {
    width: 100%;
}

code {
    background-color: rgb(238, 238, 238);
    color: rgb(36, 36, 36);
    padding: 2pt 4pt;
    border-radius: 1em;
}

pre {
    overflow-y: hidden;
    overflow-x: scroll;
}

pre::-webkit-scrollbar {
    display: none;
}

pre code {
    background-color: transparent;
    padding: 0;
}

/* Utilidades */

.correccion {
    margin-top: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.correccion.correccion-enlinea {
    margin: 0;
    display: inline;
}
.correccion.correccion-enlinea span {
    padding: 5px 10px 5px 0;
}

.correccion.correccion-enlinea span::before {
    padding: 5px 10px;
}

.correccion span {
    padding: 5px;
}

.correccion span {
    color: rgba(0, 0, 0, 0.562);
    padding: 10px 20px;
    text-align: start;
    border-radius:5px;
}

.correccion-error::before {
    content: "!";
    background:rgb(255, 170, 170);
    color: red;
}

.correccion-pregunta {
    background:rgb(235, 231, 255);
}

.correccion-error {
    background:rgb(255, 231, 231);
}

.correccion-pregunta::before {
    content: "?";
    background:rgb(209, 201, 255);
    color: rgb(142, 94, 255);
}

.correccion span::before {
    width: 20px;
    height: 20px;
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
